

/*
    ARCADE FONT
*/

body {
  font-family: 'Press Start 2P', sans-serif;
  color: white;
  background-color: black;
}

.score {
  padding: 10px;
  float: left;
}

.clearfix::after {
  content: '';
  display: block;
  clear: both;
}

/*
    TURRET PLACEMENT
*/

.turret {
  height: 3vh;
  width: 4vw;
  background-color: blue;
  position: fixed;
  float: left;
}

/*
    CITY PLACEMENT
*/

.city {
  height: 2vh;
  width: 2vw;
  background-color: lightblue;
  position: fixed;
  float: left;
}

/* left + total Left + half of you = x */
/* left + 0 + 2 = 10 */
#turret-a {
  top: 87vh;
  left: 8vw;
}

/* left + 4 + 1 = 20 */
#w-city-a {
  top: 88vh;
  left: 19vw;
}

/* left + 6 + 1 = 30 */
#w-city-b {
  top: 88vh;
  left: 29vw;
}

/* left + 8 + 1 = 40 */
#w-city-c {
  top: 88vh;
  left: 39vw;
}

/* left + 10 + 2 = 50 */
#turret-b {
  top: 87vh;
  left: 48vw;
}

/* left + 14 + 1 = 60 */
#e-city-a {
  top: 88vh;
  left: 59vw;
}

/* left + 16 + 1 = 70 */
#e-city-b {
  top: 88vh;
  left: 69vw;
}

/* left + 18 + 1 = 80 */
#e-city-c {
  top: 88vh;
  left: 79vw;
}

/* left + 20 + 2 = 90 */
#turret-c {
  top: 87vh;
  left: 88vw;
}

/* your lasers */
.fMissile {
  background-color: lightblue;
  height: 1px;
  position: fixed;
  transform-origin: center left;
  z-index: -1;
}

/* enemy missiles */
.eMissile {
  background-color: green;
  height: 4px;
  width: 4px;
  position: fixed;
  border-radius: 50%;
  z-index: -1;
}

/* enemy lasers!
.eMissile {
  background-color: green;
  height: 1px;
  position: absolute;
  transform-origin: center left;
  z-index: -1;
} */

/*  Explosion -- no height because the detonate() handles it   */
.explosion {
  background-color: orange;
  border-radius: 50%;
  height: 50px;
  width: 50px;
  position: fixed;
  animation: explode 1s forwards;
}

@keyframes explode {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(1);
  }
  100% {
    transform: scale(0.1);
  }
}

.ground {
  position: fixed;
  float: left;
  top: 90vh;
  height: 10vh;
  width: 100vw;
  background-color: yellow;
}

p {
  color: blue;
  display: inline-block;
}

.ammo-bar {
  margin-top: 3px;
  margin-left: 8vw;
}

#turret-a-status {
  float: left;
  width: 2vw;
  padding-right: 38vw;
}
#turret-b-status {
  float: left;
  width: 2vw;
  padding-right: 38vw;
}
#turret-c-status {
  float: left;
}

